h1(style="color:green; text-align:center") Welcome to Find My Fans, #{name}!
p(style="text-align: justify;") Thank you for registering for Find My Fans, #{name}. Now you are ready to start adding your favorite teams and finding other fans of those teams.

small The Management
